h3 {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: yellow;
    animation: spin 1s linear infinite;
}

header {
    background-color: white;
    padding: 1em;

    box-shadow: 10px 10px 10px;

    text-align: center;
    font-size: 120%;
}

body {
    background-color: rgb(247 254 231);
    margin-left: 10px;
    margin-right: 10px;
}

.Lista_wyścigów {
    display:inline-block;
    margin-left: 160px;
    margin-bottom: 30px;
    background-color: white;
    padding: 1em;
    box-shadow: 3px 3px 3px;
}

.Lista_kierowców {
    float:right;
    margin-right: 160px;
    margin-bottom: 30px;
    background-color: white;
    padding: 1em;

    box-shadow: 3px 3px 3px;
}    

table {
    table-layout: auto;
}
