h3 {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

header {
    background-color: white;
    padding: 1em;

    box-shadow: 10px 10px 10px;

    text-align: center;
}

body {
    background-color: rgb(247 254 231);
}

