h3 {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

body {
    background-color: rgb(247 254 231);
}

header {
    background-color: white;
    padding: 2em;

    box-shadow: 20px 20px 20px;
}
